<a (click)="openModal()" data-activates="slide-out" class="button-collapse hamburger"><i class="material-icons">menu</i></a>
<app-menu id="slide-out" class="side-nav" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions"></app-menu>
<header id="landingpage">
	<app-user></app-user>
	<div class="container">
		<div class="inner-content">
			<h1>Coucher.</h1>
			<p>Coucher is made by and for travellers on a budget. <br />Plan your trip and find hosts easily</p>
		</div>
	</div>
	<a routerLink="name" class="plan_btn waves-effect waves-light btn">Start planning your trip</a>
	<span class="scroll"></span>
	<div class="plane"></div>
</header>
<section id="why">
	<div class="row">
		<a routerLink="name" class="plan_btn waves-effect waves-light btn">Start planning your trip</a>
		<div class="col-md-4">
			<div class="content">
				<h1>Lorem ipsum.</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus purus ac mauris pellentesque, sit amet porta eros facilisis.</p>
			</div>
		</div>
		<div class="col-md-8">
			<div class="content">
				<span>why</span>
				<h1>
					Lorem ipsum dolor sit amet,consectetur adipiscing elit. 
				</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
					Quisque cursus purus ac mauris pellentesque, sit amet porta eros facilisis. 
					Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
				</p>
				<a routerLink="name" class="waves-effect waves-light btn">Start planning your trip</a>
			</div>
		</div>
	</div>
</section>
<section id="how">
	<div class="container">
		<div class="col-md-6">
			<h1>1.</h1>
		</div>
		<div class="col-md-6">
			<div class="content">
				<span>how it works</span>
				<h3>Name your trip.</h3>
				<p>
					It’s very important to personalise your trip. 
					So we provide you the opportunity to name your trip. 
					Try thinking of an original name.
				</p>
			</div>
		</div>
		<div class="col-md-6 pull-right">
			<h1>2.</h1>
		</div>
		<div class="col-md-6">
			<div class="content">
				<h3>Plan your trip.</h3>
				<p>
					With our user-friendly application you can plan your route, 
					it’s so easy to use and you would be suprised to discover some countries you never heard of.
				</p>
			</div>
		</div>
		<div class="col-md-6">
			<h1>3.</h1>
		</div>
		<div class="col-md-6">
			<div class="content">
				<h3>Find couches.</h3>
				<p>
					Ofcourse after a long search of all interesting cities you want to visit, 
					you will need a place to stay. We provide couches per city.
				</p>
				<p><a routerLink="name" class="waves-effect waves-light btn">Start planning your trip</a></p>
			</div>
		</div>
	</div>
</section>
<footer>
	<div class="container">
		<div class="col-md-4">
			<ul>
				<li>
					<a pageScroll [pageScrollDuration]="600" [pageScrollEasing]="myEasing" href="#landingpage">home</a>
				</li>
				<li>
					<a pageScroll [pageScrollDuration]="600" [pageScrollEasing]="myEasing" href="#why">why</a>
				</li>
				<li>
					<a pageScroll [pageScrollDuration]="600" [pageScrollEasing]="myEasing" href="#how">how it works</a>
				</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h1>Coucher.</h1>
		</div>
		<div class="col-md-4">
			<p>&copy; copyrights @ Adriaan & Yawuar</p>
		</div>
	</div>
</footer>