$red: #ee6d66;
$break-small: 768px;

.landingpage {
	background-image: url('/assets/images/background/map.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;

	.container {
		height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;

	    .inner-content {
	    	text-align: center;

			h1, p {
				color: white;
			}

	    	h1 {
	    		font-size: 8em;
	    		font-weight: bold;

	    		@media screen and (max-width: $break-small) {
					font-size: 4em;
				}
	    	}

	    	p {
	    		margin: 50px;
	    		font-size: 2em;

	    		@media screen and (max-width: $break-small) {
					font-size: 1.5em;
					margin: 50px 0;
				}
	    	}

	    	a {
	    		background-color: $red;
	    		color: white;
	    		padding: 15px 20px;

	    		border-radius: 5%;
	    		
	    		&:hover {
	    			text-decoration: none;
	    			background-color: darken($red, 5%);
	    		}
	    	}
	    }
	}
}