<header class="pattern">
	<app-user></app-user>

	<div class="container-fluid">
		<div class="col-md-3">
			<div class="named">
				<div class="photo">
					<h1>Bus Travel</h1>
				</div>
				<div class="btn">
					<span></span>
				</div>
			</div>
			<div id="sidebar">
				<h1>Your trip</h1>
				<form action="#" method="get" id="search" (submit)="addPlace($event)">
					<input places-auto-complete type="search" name="search"
						(place_changed)="placeChanged($event)"
						[types]="['geocode']" placeholder="Search for a location..."
						[(ngModel)]="place"
						name="place"
						/>
					  
				</form>
				<form action="#" method="get" id="start">
					<input type="checkbox" name="start">
					start at my location
				</form>
				<div class="stops">
					<div *ngFor="let stop of trip?.stops">
						<a class="stop" (click)="toggleChild()">
							<div class="marker"></div>
							<div class="content">{{ stop.locationName }}</div>
							<div class="bed"></div>
							<a class="remove" (click)="removePlace(stop.stopid)"></a>
						</a>
						<div class="tracker">
							<span></span>
							<p>Singel, Antwerpen</p>
						</div>
					</div>

					<!-- <div class="stop">
						<div class="marker"></div>
						<div class="content">Antwerp</div>
						<div class="bed"></div>
						<a class="remove" (click)="remove($event)"></a>
					</div> -->
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<ngui-map zoom="5" [center]="center">
				<marker *ngFor="let pos of trip?.stops" [position]="pos.location"></marker>
			</ngui-map>
			
		</div>
	</div>
</header>
<app-modal-couch [showMePartially]="showVar" (click)="event()"></app-modal-couch>