$grey: #7a7a7a;
$purple: #8930e8;
$break-small: 768px;

.pattern {
	background-image: url('/assets/images/pattern/pattern.png');
	background-repeat: repeat;
    width: 100%;
    height: 100%;

    .container-fluid {
    	padding-top: 150px;
    	height: 100%;
    	padding-bottom: 75px;

    	.col-md-3 {
            height: 100%;
    		.named {
    			height: 15%;
    			width: 100%;
    			background-color: $purple;

    			display: flex;
			    justify-content: center;
			    align-items: center;

                box-shadow: 1px 1px 5px lighten($grey, 25);

				.photo, .btn {
					float: left;
				}

				.photo {
					width: 85%;
					text-align: center;
					h1 {
    					margin: 0;
                        color: white;
                        font-size: 1.75em;
    				}
				}

				.btn {
    				background-color: white;
    				height: 100%;
    				width: 15%;

    				display: flex;
				    justify-content: center;
				    align-items: center;

                    border-radius: 0;
                    padding: 0;

                    span {
                        display: inline-block;
                        background-image: url('/assets/images/icons/workflow/arrow.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 15px;
                        height: 9px;
                    }
    			}
    		}

    		#sidebar {
                height: 85%;
    			h3 {
    				display: inline-block;
    				font-size: 1em;
    				color: $grey;
					padding-bottom: 10px;
    				/* border-bottom: 3px solid $grey; */
    			}

    			#search {
                    margin-top: 10px;
    				width: 100%;
    				input {
    					font-family: 'Montserrat';
    					width: 100%;
    					height: 50px;
    					border: none;
                        padding-left: 25px;

    					box-shadow: 1px 1px 5px lighten($grey, 25);

    					&::placeholder {
							color: $grey;
    					}

                        &:focus {
                            padding-left: 25px;
                        }
    				}
    			}

    			#start {
    				margin: 10px 0;

    				input {
    					margin-right: 10px;
    				}
    			}

    			.stops {
                    height: 65%;
                    overflow-y: scroll;
					padding: 1px;
					margin-top: 25px;
    				.stop {
						position: relative;
    					width: 100%;
    					height: 50px;
    					background-color: white;
						
    					box-shadow: 1px 1px 5px lighten($grey, 25);
    					display: flex;
						align-items: center;
						
						cursor: pointer;
						
						.marker {
							/* //original: 
							background-image: url('/assets/images/icons/markers/turquoise.png');
							background-repeat: no-repeat;
						    width: 12px;
						    height: 20px;
							margin: 0 10px 0 25px;
							*/
							margin: 0 10px 0 15px;
						}

    					.content {
    						font-family: 'Montserrat';
    						color: $grey;
                            width: 50%;
    					}

                        .bed, .remove {
                            position: absolute;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }

                        .bed {
                            right: 60px;
                            background-image: url('/assets/images/icons/workflow/bed_grey.png');
                            width: 15px;
                            height: 11px;
                        }

    					.remove {
							/*
							Future:
								- Volledige rechterkant van knop '.stop' clickable --> remove maken
								- Eventueel een hover event, dat de knop een beetje veranderd? Mss dat de 'X' rood wordt? idk.
							*/
    						right: 25px;
    						background-image: url('/assets/images/icons/workflow/cross.png');
						    width: 14px;
						    height: 12px;
    					}
    				}

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .tracker {
                        height: 54px;
                        display: flex;
                        align-items: center;
                        span, p {
                            float: left;
                        }

                        span {
                            display: inline-block;
                            background-image: url('/assets/images/icons/workflow/route.png');
                            height: 100%;
                            width: 10px;
                            margin-left: 25px;
                        }

                        p {
                            margin: 0;
                            margin-left: 10px;
                            color: $grey;
                        }
                    }
    			}
    		}
    	}

		.col-md-9 {
			height: 100%;
			padding-right: 30px;

          @media screen and (max-width: $break-small) {
              padding-right: 15px;
              margin-top: 25px;
          }
      
			ngui-map {
				height: 100%;
				box-shadow: 1px 1px 5px lighten($grey, 25);
			}
		
		}
	}
}

//moet dit ergens anders staan? wordt gebruikt door 2 html elementen (map & waypoint list) dus wist niet meteen waar ik t moest plaatsen..
.custom-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color:red;
	border: 2px solid white;
	color:white;
	font-size:20px;
	text-align:center;
}