<header class="pattern">
	<app-user></app-user>

	<div class="container-fluid">
		<div class="col-md-3">
			<div class="named">
				<div class="photo">
					<h1>Bus Travel</h1>
				</div>
				<div class="btn">
					
				</div>
			</div>
			<div id="sidebar">
				<h1>Your trip</h1>
				<form action="#" method="get" id="search">
					<input places-auto-complete type="search" name="search"
						(place_changed)="placeChanged($event)"
						[types]="['geocode']" placeholder="Search for a location..."/>
					  
				</form>
				<form action="#" method="get" id="start">
					<input type="checkbox" name="start">
					start at my location
				</form>
				<div class="stops">
					<div class="stop">
						<div class="marker"></div>
						<div class="content">Antwerp</div>
						<div class="bed"></div>
						<div class="remove"></div>
					</div>
					<div class="tracker">
						<p>Singel, Antwerpen</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<ngui-map zoom="5" center="Switzerland">
				<marker *ngFor="let pos of trip?.stops" [position]="pos.location"></marker>
			</ngui-map>
		</div>
	</div>
</header>