$red: #ee6d66;
$grey: #7a7a7a;
#overlay {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 100%;
	z-index: 1;

	transition: 10s ease-out;
}

.user-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 300px;

	z-index: 2;
	.image, .content {
		float: left;
	}

	.image {
		position: relative;
		width: 300px;
		z-index: 1;
		img {
			width: 100%;
			height: 100%;
			border-radius: 5%;
			box-shadow: 1px 1px 5px lighten($grey, 25);
		}
	}

	.content {
		position: relative;
		z-index: 0;
		background-color: white;
		padding: 25px 25px 25px 50px;
		height: 95%;
		width: 325px;
		margin: 1.25% 0 1.25% -2.5%;
    	border-radius: 5%;
    	box-shadow: 1px 1px 5px lighten($grey, 25);
		h1 {
			color: $red;
			margin: 0;
			font-size: 1.75em;
		}

		.quote, .twitter {
			margin: 0;
		} 

		.quote {
			font-size: 1em;
			margin: 5px 0;
		}
		.twitter {
			color: lighten($grey, 8);
			font-size: .9em;
		}
		.info {
			margin-top: 20px;

			.firstname, .lastname, .email {
				font-family: 'Montserrat';
				margin-top: 5px;
				span {
					color: $red;
					margin-left: 10px;
					font-weight: bold;
				}
			}
		}
	}
}