$red: #ee6d66;
$grey: #7a7a7a;
$blue: #3f8a91;
$break-small: 768px;

.modal-content {
	padding: 0;

	.row {
		.col-sm-12 {
			padding: 0;

			h5 {
				background-color: $blue;
			    color: white;
			    text-align: center;
			    margin: 0;
			    padding: 25px;
			    font-size: 1.2em;		
			}

			button {
				left: 50%;
				background-color: $blue;
				font-family: 'Montserrat';
				color: white;
			    transform: translateX(-50%);
			    margin-top: 25px;
			    border-radius: 0;
			}
		}
	}
}