<!-- <div class="modal-content">
	<div class="user-overlay">
		<div class="image">
			<img src="/assets/images/users/mister.jpg" alt="">
		</div>
		<div class="inner-content">
			<h1>{{ currentUsername }}</h1>
			<p class="quote">The most optimistic guy ever.</p>
			<p class="twitter">@guythumb</p>
			<div class="info">
				<div class="firstname">
					Firstname: <span>Guy</span>
				</div>
				<div class="lastname">
					Lastname: <span>Thumb</span>
				</div>
				<div class="email">
					E-mail: <span>guy.thumb@gmail.com</span>
				</div>
			</div>
		</div>
	</div>
</div> -->

<div class="modal-content">
	<div class="row">
		<div class="col-sm-6">
			<h5>{{ currentUsername }}</h5>
			<button (click)="logout()" class="waves-effect waves-light btn">Sign out</button>
		</div>
	</div>
</div>