<section class="pattern">
	<ul class="breadcrumbs">
		   <li><a routerLink="/">Home</a></li>
		   <li><a>My Trips</a></li>
  	</ul>
	<app-user></app-user>
	<div class="container">
		<!-- <h1>Name your trip</h1> -->
		<div class="row">
			<div class="col-md-12">
				<form action="#" method="GET">
					<input (click)="toggleChild()" type="text" class="text-line" placeholder="Name your trip"/>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<a routerLink="/coucher" class="image">
					<h1>my first trip</h1>
				</a>
			</div>
		</div>
	</div>
</section>
<app-modal-name [showMePartially]="showVar" (click)="event()"></app-modal-name>