$grey: #7a7a7a;
$break-small: 768px;

$green: #30e8bd;
$yellow: #f4dc9c;
$red: #ee6d66;
$blue: #3080e8;
$purple: #8930e8;
$orange: #e88c30;

$secondary: #3f8a91;

.pattern {
	background-image: url('/assets/images/pattern/pattern.png');
	background-repeat: repeat;
    width: 100%;
    height: 100%;

    .breadcrumbs{
        position: absolute;
        left: 30px;
        top: 50px;
        list-style:none;
        display: inline-block;
  
        li{
          float:left;
          a{
            color:#FFF !important;
            display:block;
            background: $secondary;
            text-decoration: none;
            position:relative;
            height: 40px;
            line-height:40px;
            padding: 0 10px 0 5px;
            text-align: center;
            margin-right: 23px;
            font-size: 1em;
          }
          &:first-child{
            a{
              padding-left:15px;
              padding-right: 15px;
              &:before{
                border:none;
               }
            }
          }
          &:last-child{
            a{
              padding-right:15px;
              color: $secondary !important;
              background-color: transparent;
              &:before{
                border-color: transparent;
                border-left-color: transparent;
               }
              &:after{
                border-left-color: transparent;
                border-color: transparent;
              }
            }
          }
  
          a{
            &:before,
            &:after{
              content: "";
              position:absolute;
              top: 0;
              border:0 solid $secondary;
              border-width:20px 10px;
              width: 0;
              height: 0;
            }
            &:before{
              left:-20px;
              border-left-color:transparent;
            }
            &:after{
              left:100%;
              border-color:transparent;
              border-left-color: $secondary;
            }
          }
        }
      }

    .container {
    	padding-top: 100px;

        .row {
            width: 75%;

            @media screen and (max-width: $break-small) {
                width: 100%;
                margin-left: 0;
            }
            form, .add {
                float: left;
            }

            form {
                @media screen and (max-width: $break-small) {
                    margin-top: 50px;
                }
                input {
                    z-index: 1005;
                    position: relative;
                    height: 75px;
                    width: 330px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 3em;
        
                    background-color: transparent;
                    color: $grey;
                    outline: none;
                    outline-style: none;
                    outline-offset: 0;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: solid $grey 3px;

                    @media screen and (max-width: $break-small) {
                        font-size: 2em;
                        width: 220px;
                        height: 50px;
                    }
                }
            }

            .add {
                z-index: 1005;
                position: relative;
                background-color: $grey;
                border-radius: 50px;
                text-align: center;
                line-height: 35px;
                font-size: 1.3em;
                margin: 20px 0 0 50px;
                width: 35px;
                height: 35px;

                @media screen and (max-width: $break-small) {
                    margin: 60px 0 0 25px;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }

                a {
                    display: inline-block;
                    color: white;
                    text-decoration: none;
                    width: 35px;
                    height: 35px;

                    @media screen and (max-width: $break-small) {
                        width: 30px;
                        height: 30px;
                    }
                }

                &:hover {
                    background-color: darken($grey, 8);
                }
            }

            .col-sm-4 {
                margin-top: 50px;

                &:nth-child(1) {
                    .image {
                        background-color: $purple;
                    }
                }

                &:nth-child(2) {
                    .image {
                        background-color: $green;
                    }
                }

                &:nth-child(3) {
                    .image {
                        background-color: $orange;
                    }
                }

                &:nth-child(4) {
                    .image {
                        background-color: $yellow;
                    }
                }

                &:nth-child(5) {
                    .image {
                        background-color: $blue;
                    }
                }

                &:nth-child(6) {
                    .image {
                        background-color: $red;
                    }
                }

                .image {
                    position: relative;
                    display: inline-block;
                    background-color: black;
                    width: 100%;
                    padding-bottom: 85%;

                    h1 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        margin: 0;
                        text-align: center;

                        font-size: 1.5em;
                        color: white;

                        a {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

#overlay {
    z-index: 1002;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
    left: 0;
}

.plane {
    z-index: 1003;
    position: fixed;
    bottom: -10px;
    right: -10px;
    background-image: url('/assets/images/airplane/airplane-grey.png');
    background-size: contain;
    background-repeat: no-repeat;

    width: 300px;
    height: 251px;

    @media screen and (max-width: $break-small) {
        right: -50px;
    }
}