<section class="pattern">
	<ul class="breadcrumbs">
		   <li><a routerLink="/">Home</a></li>
		   <li><a>My Trips</a></li>
  	</ul>
	<app-user></app-user>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form (ngSubmit)="createTrip(titleInput.value)">
					<input (click)="showOverlay()" type="text" class="text-line" placeholder="Name your trip" #titleInput/>
				</form>
				<div class="add" *ngIf="overlay" (click)="createTrip(titleInput.value)">
					<a>+</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<a routerLink="/coucher" class="image">
					<h1>my first trip</h1>
				</a>
			</div>
		</div>
	</div>

	<div (click)="hideOverlay()" id="overlay" *ngIf="overlay">
		<div class="plane"></div>
	</div>
</section>