<div class="modal-content">
  <div class="row">
    <h1>Register</h1>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="email" type="text" class="validate">
            <label for="email">E-mailadres</label>
          </div>
          <div class="input-field col s6">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="input-field col s6">
            <input id="password" type="submit" value="submit">
          </div>
      </form>
  </div>
</div>