ul {
	padding-left: 50px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	li {
		margin: 5px 0;
		a {
			color: white;
			font-size: 1.75em;
			padding: 0; 

			&:hover {
				text-decoration: none;
				background-color: transparent;
			}
		}
	}
}