$red: #ee6d66;
$grey: #7a7a7a;

#user {
	position: absolute;
	right: 50px;
	top: 50px;

	height: 65px;

	.image, .info {
		float: left;
		height: 100%;
	}
	.image {
		position: relative;
    	z-index: 1;

		img {
			height: 100%;
			border-radius: 5px;
			z-index: 1;

			box-shadow: 1px 1px 5px lighten($grey, 25);
		}
	}

	.info {
		background-color: white;
		position: relative;

		display: flex;
		justify-content: center;
		align-items: center;

		height: 55px;
		margin-top: 5px;
		margin-left: -5px;

		border-radius: 5px;
		box-shadow: 1px 1px 5px lighten($grey, 25);

		.expand {
			position: absolute;
			right: 10px;
    		top: 5px;

    		a {
    			font-size: 1.2em;
    		}
		}

		.content {
			margin:0 30px 0 15px;
			h3, p {
				margin: 0;
			}
			h3 {
				font-size: 1em;
				font-weight: bold;
				color: $red;
				margin-bottom: 4px;
			}

			p {
				font-size: 0.9em;
			}
		}
	}
}
