<div id="user" (click)="openModal()">
	<div class="image">
		<img src="/assets/images/users/avatar.jpg" alt="Mister">
	</div>
	<div class="info">
		<div class="expand">
			<!-- <a (click)="toggleChild()">+</a> -->
		</div>
		<div class="content">
			<h3>Mr. Thumb</h3>
			<p>The most optimistic guy ever.</p>
		</div>
	</div>
</div>
<a (click)="login()">Login</a>
<a (click)="register()">register</a>
<app-login class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalLogin"></app-login>

<app-modal-user id="modal2" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalUser"></app-modal-user>

<app-register id="modal3" class="modal" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalRegister"></app-register>